.input_video,
.output_canvas {
    width: 50%;
    height: 50vh;

}

.output_canvas {}

.cam-container {
    display: flex;
    width: 100vw;
    height: 48vh;
}

.grid-container {
    display: flex;
    height: 48vh;
}

#landmark-grid-container {
    height: 30vh;
    width: 100vw;
}

.infoLine {
    display: flex;
}

.info {
    display: flex;
    justify-content: space-evenly;

}


#jabNum,
#straightNum {}


@media only screen and (min-width: 760px) {

    h2 {
        font-size: 64px;
        color: green;
    }

    .cam-container {
        width: 100%;
        justify-content: center;
        flex-direction: column;
    }
}