body {
    margin: 0;
    padding: 0;
    background-color: rgb(227, 227, 233);
}

.input_video,
.output_canvas {
    min-width: 45vw;
    min-height: 40vh;

}

#output_canvas {
    margin-left: 10vw;
}

.cam-container {
    display: flex;
    width: 100vw;
    height: 40vh;
}




.infoLine {
    display: flex;
}

.info {
    display: flex;
    justify-content: space-evenly;

}

footer {
    height: 100px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 25vh;
}



@media only screen and (min-width: 760px) {

    h2 {
        font-size: 64px;
        color: green;
    }

    .cam-container {
        width: 100%;
        justify-content: center;
    }

    .grid-container {
        display: flex;
        max-height: 25vh;
    }

    #landmark-grid-container {
        margin-top: 3vh;
        min-width: 98vw;
        max-height: 25vh;
    }

    .input_video,
    .output_canvas {
        min-width: 45vw;
        border: blue solid 2px;
        min-height: 40vh;

    }

}