body {
    margin: 0;
    padding: 0;
}

.input_video,
.output_canvas {
    min-width: 45vw;
    min-height: 40vh;

}

#output_canvas {
    margin-left: 10vw;
}

.cam-container {
    display: flex;
    width: 100vw;
    height: 40vh;
}

.grid-container {
    display: flex;
    min-height: 45vh;
    max-height: 10vh;
}

#landmark-grid-container {
    margin-top: 3vh;
    min-width: 98vw;
    max-height: 48vh;
}

.infoLine {
    display: flex;
}

.info {
    display: flex;
    justify-content: space-evenly;

}



@media only screen and (min-width: 760px) {

    h2 {
        font-size: 64px;
        color: green;
    }

    .cam-container {
        width: 100%;
        justify-content: center;
    }

    .grid-container {
        display: flex;
        max-height: 25vh;
    }

    #landmark-grid-container {
        margin-top: 3vh;
        min-width: 98vw;
        max-height: 25vh;
    }

    .input_video,
    .output_canvas {
        min-width: 47vw;
        min-height: 65vh;

    }

}